.card-usuario-compra {
    max-width: 200px;
  }
  .container-usuario-compra {
    margin: 20px;
  } 
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }