<div *ngIf="vPeliculas" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <div *ngFor="let elemento of vPeliculas">
        <mat-card class="example-card"  [@efectover]="getEfecto(elemento.id)" (mouseover)="efectoOver(elemento.id)" (mouseout)="efectoOut(elemento.id)">
            <img mat-card-image src="{{'./assets/' + elemento.imgPath}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon color="primary">start</mat-icon>{{elemento.titulo}}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
    
            <mat-card-actions>
    
                <div fxLayout="row" fxLayoutAlign="center">
                    <button class="md-toolbar-tools" mat-raised-button color="secundary" (click)="nuevaCritica(elemento)">Comentar</button>
                    <button class="md-toolbar-tools" mat-raised-button color="primary">Comprar</button>
                </div>
    
            </mat-card-actions>
        </mat-card>
    </div>
    
</div>