.example-card {
  width: 170px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.container {
  margin: 20px;
}
.img-sesion-card {
  width: 100%;
  height: auto;
}
