<mat-card class="example-card">
    <img mat-card-image class="img-card" src="./assets/avengers_end.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-chip-list >
                    <mat-chip>14:30</mat-chip>
                    <mat-chip>17:30</mat-chip>
                    <mat-chip>20:30</mat-chip>
                </mat-chip-list>
            </mat-list-item>
            <mat-list-item>
                <mat-icon color="primary"> start</mat-icon> Avengers End Game
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        
        <div dir="rtl" fxLayoutGap="20px">
            <button class="md-toolbar-tools" mat-raised-button color="primary">Comprar</button>
            <button class="md-toolbar-tools" mat-raised-button color="secundary">Comentar</button>
        </div>
        
    </mat-card-actions>
</mat-card>