<!-- <div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center" (click)="onNoClick()">
    <div fxFlexAlign="center"> <img src="{{'./assets/' + data.img}}" class="img-message" alt=""></div>
    <div fxFlexAlign="center"><span> ¡ {{data.message}} !</span></div>
  </div>
</div> -->


<h1 mat-dialog-title>Selecciona el cine</h1>

<mat-form-field>
  <mat-label>Cines</mat-label>
  <!-- <mat-select>
    <mat-option *ngFor="let prov of provincias" [(value)]="selected" value="prov.nombre">
      {{prov.nombre}}
    </mat-option>
  </mat-select> -->
  <!-- <select [(ngModel)]="selected">
    <option *ngFor="let p of provincias" [value]="p.nombre">{{p.nombre}}</option>
  </select> -->
  <mat-select [(value)]="selected" (selectionChange)="onChangeSelect(selected)">
    <mat-option *ngFor="let option of cines" value="{{ option.provincia }}">
      {{ option.provincia }}
    </mat-option>
  </mat-select>

</mat-form-field>
<p>Cine escogido: {{selected}}</p>
